<!DOCTYPE html>
<html>
<head>
    <title>Tech Blog</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {{{body}}}
    </div>
    <footer>
        <p>&copy; 2023 Tech Blog. All rights reserved.</p>
    </footer>
    <script src="../../public/js/main.js"></script>
</body>
</html>
