<!DOCTYPE html>
<html>
<head>
   <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/main.js"></script>
</head>
<body>
    {{{body}}}
    <footer>
        <p>&copy; 2023 Your Tech Blog. All rights reserved.</p>
        <p>Contact: info@example.com</p>
    </footer>
</body>
</html>
